.signUpContainer {
    background-color: #f49484;
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signUpHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    margin-right: 2em;
    margin-left: -10em;
    margin-top: -2em;
}
.signUptitle{
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 5.8em;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 1em;
}
.formLabelText{
    color: #173753;
    font-weight: 500;
}
.signUpInputs:focus {
    border-color: #173753 !important;
    box-shadow: 0 0 0 0.15rem #173753 !important;
}
.signUpBtnDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5em;
}
.signUpPageBtn{
    margin-top: 2em;
    background-color: #173753 !important;
    border: solid 2px #173753 !important;
}
.signUpPageBtn:hover{
    border: solid 2px #173753 !important;
}