/* ================= play Music Page ============== */

.playMusicContainer {
    background-color: #f49484;
    padding-left: 0;
    padding-right: 0;
    height: 85.5vh;
}
.playMusicContainer2{
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.progressBarDiv{
    padding-top: 1em;
}
.progress-bar{
    background-color: #173753;
}
.songInfoPlayMusic {
    /*position: relative;
     top: -1.9em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.songInfoPlayMusic h1, h3 {
    color: #464949;
    /* color: #3c3e3e; */
}
.songName {
    font-size: 3.2em;
    margin: 0;
}
.artistName {
    font-size: 1.875em;
    margin-top: 0.625em;
    margin-bottom: 0;
}
.albumName {
    font-size: 1.25em;
    margin-top: 0.625em;
    margin-bottom: 1.25em;
}
.songsListDiv{
    background-color: #173753;
    border-radius: 1.5em;
    /*border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;*/
    /*padding: 1.5em;*/
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
    max-height: 63vh;
    width: 27vw;
}
.songsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listIcons{
    border-bottom: none;
    padding-right: 0.313em;
    margin-bottom: 1.25em;
}
.songsListPlayGeral{
}
.songsListPlayScroll{
    max-height: 45vh;
    width: 25vw;
    overflow-y: scroll;
    padding-right: 0.5em;
}
.songsListPlay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.songsListPlay:hover{
    background-color: #676566;
    border-radius: 1.8em;
}
.playSongListDiv{
    padding: 1.25em;
}
.playSongListIcon:hover {
    color: #e87461;
}
.songNameArtistDiv{
    width: 15vw;
}
.songDurationDiv{
    padding: 1.25em;
}
.songNamePlayList{
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0.1em;
}
.artistNamePlayList{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.2em;
}
.playIconsGeralDiv{
    background-color: #facec7;
    padding: 2em;
    border-radius: 1.5em;
}
.playIconsPlayMusic{
    /*background-color: red;*/
    margin-top: 1.5em;
}
.volumeIconsPlayMusic{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.playMusicIcons{
    color: #173753;
    margin-right: 1em;
    margin-bottom: 1em;
}
.playMusicIcons:hover {
    /* color: white; */
    color: #e87461;
}
.SongListIcons{
    color: white;
    margin-right: 1em;
}
.SongListIcons:hover {
    color: #e87461;
}

/* ================= end of play Music Page ============== */