@import 'https://fonts.googleapis.com/css2?family=Open+Sans';

body {
    font-family: 'Open Sans', sans-serif;
}
.containerGeral{
    width: 100%;
}


/* ================= scroll bar ============== */

/* width */
::-webkit-scrollbar {
    width: 0.625em;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.625em;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #676566;
    border-radius: 0.625em;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e87461;
    border-radius: 0.625em;
}
/* ================= end of scroll bar ============== */



