/* ================= Main Page ============== */

.flexClass {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.initialContainer {
    background-color: #173753;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.whiteText {
    color: white;
    font-size: 5.25em;
    margin-top: 0.4em;
    margin-bottom: 0;
}
.subtitle {
    color: #e87461;
    font-size: 2.7em;
    margin-left: 9.5em;
    margin-top: 0;
    margin-bottom: 0;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 34.375em;
    padding: 3.125em;
}
.colorCotaBtn {
    background-color: #b48291 !important;
    padding: 0.825em 0 !important;
    width: 11vw;
    font-size: 0.938em !important;
    font-weight: 600 !important;
    border-radius: 1.1em !important;
    border: none !important;
}
.colorCotaBtn a {
    padding: 1em 2em;
    color: white;
    width: 15vw !important;
    text-decoration: none;
}
.colorCotaBtn:hover {
    background-color: #e87461!important;
}
.colorCotaBtn a:hover {
    color: white;
}

/* ================= end of Main Page ============== */
