.myProfileContainer {
    background-color: #f49484;
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
}
.myProfileContainer2{
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.myProfileImgDiv{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    width: 20vw;
    height: 80vh;
    /* margin-left: -2em; */
    padding-right: 2em;
    padding-left: 2em;
    /*background-color: blue;*/
}
.myProfileAvatarDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myProfileAvatar{
    background-color: #173753;
    height: 27vh;
    width: 13vw;
    border-radius: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myProfileUser{
    color: white;
}
.myProfileUser:hover {
    color: #e87461;
}
.changeImgBtnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.changeImgBtn{
    margin-top: 1.5em;
    background-color: #173753;
    width: 10em;
    border: solid 0.2em #173753;
    border-radius: 1em;
    padding: 0.8em;
    font-weight: 600;
}
.changeImgBtn:hover {
    border: solid 0.2em #173753;
    background-color: #e87461;
    color: white;
    font-weight: 600;
}
.changeImgBtn:focus {
    background-color: #c68e9f;
    color: white;
    border-color: #c68e9f;
    box-shadow: 0 0 0 0.25rem #bb778c;
}
.myProfileForm1{
    width: 30vw;
    height: 80vh;
    padding-right: 2em;
    padding-left: 2em;
    /*background-color: red;*/
}
.myProfileForm2{
    width: 30vw;
    height: 80vh;
    padding-right: 2em;
    padding-left: 2em;
    /*background-color: green;*/
}
.textMuted{
    color: #173753 !important;
}
.myProfileBtnDiv{
    display: flex;
    justify-content: end;
    margin-top: 0;
}
.myProfileSaveBtn{
    margin-top: 2em;
    background-color: #173753 !important;
    border: solid 2px #173753 !important;
}
.myProfileSaveBtn a {
    font-weight: 600;
    font-size: 1.1em;
}