.navBarClass{
    padding-left: 1em;
    padding-top: 1em;
    background-color: #facec7;
}
.navBarFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1em;
    font-weight: 700;
}
.nav-link{
    color: #173753 !important;
}
.nav-link:hover {
    color: #e87461 !important;
}
.listPlaylistTag {
    color: #173753 !important;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none !important;
}
.listPlaylistTag:hover {
    color: #e87461 !important;
}

.listGenderTag {
    color: #173753 !important;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none !important;
}
.listGenderTag:hover {
    color: #e87461 !important;
}
.searchInput:focus {
    border-color: #173753;
    box-shadow: 0 0 0 0.15rem #173753;
}
.navbarSearchBtn{
    background-color: #173753;
    width: 10em;
    border: none;
    padding-top: 0.1em;
    margin-left: 0.5em;
    font-weight: 600;
}
.navbarSearchBtn:hover {
    border: solid 0.1em #173753;
    background-color: white;
    color: #173753;
    font-weight: 600;
    margin-left: 0.5em;
}
.navbarSearchBtn:focus {
    background-color: #c68e9f;
    color: white;
    border-color: #c68e9f;
    box-shadow: 0 0 0 0.25rem #bb778c;
}
.navbarUser{
    color: #173753;
    margin-right: 1em;
}
.navbarUser:hover {
    color: white;
}

a {
    text-decoration: none;
}