.listOfPlaylists {
    background-color: #f49484;
    padding-left: 0;
    padding-right: 0;
    height: 88vh;
}
.cardPlaylists{
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-content: center;
    align-items: center;
    margin-top: 2em;
}

.topBarPlaylist{
    display: flex;
    flex-direction: row;
    width: 49.7vw;
    padding: 1em;
    background-color: #2d5170;
}

.contentPLaylist{
    display: flex;
    flex-direction: column;
    background-color: #173753;
}
.playlistDetails{
    display: flex;
    flex-direction: row;
}

.playlistDetails p{
    font-family: OpenSans;
    font-size: 2em;
    color: #A2666F;
    font-weight: bolder;
    display: flex;
    align-content: space-between;
    margin: 1em;
}

.playlistIcons{
    color: white;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.playlistIcons:hover {
    color: #A2666F;
}

.iconsAlignmentLeft{
    display: flex;
    flex-direction: row;
    position: relative;
    right: -1em;
}

.iconsAlignmentRight{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 40em;
}