.listOfGenders {
    background-color: #f49484;
    padding-left: 0;
    padding-right: 0;
    height: 90vh;
}

.gendersCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gendersFirstRow {
    display: flex;
    flex-direction: row;
}

.gendersSecondRow{
    display: flex;
    flex-direction: row;
}

.gendersPic{
    width: 15vw;
    height: 25vh;
}

.gendersWrapper{
    display: flex;
    flex-direction: column;
    margin: 3em;
    align-items: center;
}

.gendersWrapper h3{
    font-family: OpenSans;
    font-size: 1em;
    color: #464949;
    font-weight: 700;
}
