.FooterContainer{
    background-color: #FACEC7;
    display: flex;
    flex-direction: row;
    height: 6em;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
}

.FooterAlbum{
    width: 6em;
    position: absolute;
    left: 0em;
}

.songInfo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: absolute;
    left: 8em;
    font-family: OpenSans;
    font-weight: bolder;
}

.playIcons{
    position: relative;
    left: 50em;
}

.volumeIcons{
    position: absolute;
    right: 0em;
}