.listOfArtistsContainer {
    background-color: #f49484;
    padding-left: 0;
    padding-right: 0;
    height: 75.5vh;
    display: flex;
    justify-content: center;
}
.listOfArtistsContainer2{
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: auto;
    padding-left: 5em;
    padding-right: 5em;
}
.listOfArtistsImgDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: 20vw;
    height: 45vh;
    padding-right: 2em;
    padding-left: 2em;
    /*background-color: red;*/
}

.listOfArtistsAvatarDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    /*background-color: blue;*/
}
.listOfArtistsAvatar{
    background-color: #173753;
    height: 25vh;
    width: 15vw;
    /*border-radius: 10em;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.listOfArtistsUser{
    color: white;
}
.listOfArtistsUser:hover {
    color: #e87461;
}
.listOfArtistsTextDiv{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.listOfArtistsText{
    color: #464949;
    font-weight: 700;
}

.FooterFlex {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
