.loginContainer {
    background-color: #f49484;
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
}
.loginContainer2{
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.loginHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.loginLogo{
    margin-left: 4em;
    margin-right: 2em;
}
.subtitleLogin{
    color: #173753;
    font-size: 2.7em;
    margin-left: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0;
}
.loginForm{
    margin-top: 2.5em;
}
.formLabelText{
    color: #173753;
    font-weight: 500;
}
.loginInputs:focus {
    border-color: #173753 !important;
    box-shadow: 0 0 0 0.15rem #173753 !important;
}
.loginBtnDiv{
    height: 5em;
}
.loginPageBtn{
    margin-top: 1em;
    background-color: #173753 !important;
    border: solid 2px #173753 !important;
}
.loginPageBtn:hover{
    border: solid 2px #173753 !important;
}
.forgotPass{
    text-decoration: underline;
}