/* ================= play List Page ============== */
.bodyContainer{
    background-color: #F49484;
    height: 90vh;
}

.creator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 36px;
    margin-top: 50px;
}
.coverAlbum{
    width: 400px;
}
.playlistHelper{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    height: 350px;
    margin-left: 6em;
    padding: 30px;
    background-color: #173753;
}

.square{
    padding: 30px;
}

.playlistHelper h3{
    color: white;
    font-weight: bolder;
}

.CreateButton{
    margin-top: 20px;
}

.btn-create {
    background-color: #B48291;
    width: 3.5em;
    height: 1.5em;
    border: none;
    padding-bottom: 0.1em;
    margin-left: 0.5em;
    font-weight: 600;
    color: #f1f1f1;
    border-radius: 3%;
    display: flex;
    justify-content: space-around;
}

.btn-create:hover {
    border: solid 0.1em #173753;
    background-color: #F49484;
    color: #173753;
    width: 3.5em;
    height: 1.5em;
}

.linkButton{
    text-decoration: none;
    color: #f1f1f1;
}
.FooterFlex {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
/*==    position: fixed;============== end of play List Page ============== */